* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: game-title-font;
    src: url(MS-Sans-Serif.ttf);
    size-adjust: 100%;
    font-stretch: ultra-expanded;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(50, 1fr);
    height: 100vh;
    background-image: url("frutiger-aero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* THE IMAGE APP WHATEVER THINGY */
.app-game {
    grid-row-start: 3;
    grid-row-end: 12;
    grid-column-start: 4;
    grid-column-end: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    background-color: transparent;
}

.icon-holder-app {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    object-fit: contain;
    cursor: pointer;
}

.app-label {
    margin-top: 0px;
    font-size: 18px;
    font-family: game-title-font;
    color: rgb(215, 215, 215);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ---- MAIN WINDOW HERE FOR GAME ---- */
.main-window {
    grid-row-start: 2;
    grid-row-end: 33;
    grid-column-start: 25;
    grid-column-end: 65;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(50, 1fr);
    background-color: #c0c0c0;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    outline: 2px solid #c0c0c0;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
}

/* MAIN WINDOW TITLE STRIP */
.game-title {
    margin: 3px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    opacity: 2;
    color: white;
    font-family: game-title-font;
    font-weight: 500;
    background-image: linear-gradient(to right, #010080, #1082cd);
    height: 100%;
}

.game-title .title-text {
    flex-grow: 1;
    text-align: left;
    flex-grow: 1;
    align-items: center;
}

.topleft-symbol img,
.close-window-symbol img {
    width: 30px;
    height: auto;
    image-rendering: pixelated;
    padding: 5px;
    margin: 1px;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.close-window-symbol {
    cursor: pointer;
}

.other-buttons-title-symbols img {
    width: 60px;
    height: auto;
    image-rendering: pixelated;
    padding: 1px;
    object-fit: contain;
    display: flex;
    align-items: center;
}

/* GAME MENU BAR (TOP THINGY)*/
.game-menu-bar {
    margin: 2px;
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aaaaa8;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    outline: 2px solid #c0c0c0;
    border-bottom: 3px solid #000000;
}

/* GAME WINDOW */
.game-window {
    grid-row-start: 7;
    grid-row-end: 50;
    grid-column-start: 2;
    grid-column-end: 40;
    background-color: #ffffff;
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* Join queue */
.play-queue-button {
    background-color: rgba(189, 189, 189, 0.8);
    border-radius: 5px;
    grid-row-start: 22;
    grid-row-end: 23;
    margin: 2px;
    grid-column-start: 4;
    grid-column-end: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    cursor: pointer;
}

.queue-button-text {
    flex-grow: 1;
    text-align: left;
    flex-grow: 1;
    align-items: center;
    font-size: 30px;
    font-family: game-title-font;
    color: rgb(215, 215, 215);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.leave-queue-button {
    background-color: #bdbdbdcc;
    border-radius: 5px;
    grid-row-start: 28;
    grid-row-end: 29;
    margin: 2px;
    grid-column-start: 4;
    grid-column-end: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    cursor: pointer;
}

.own-username-label {
    background-color: rgba(189, 189, 189, 0.8);
    border-radius: 5px;
    grid-row-start: 40;
    grid-row-end: 42;
    margin: 2px;
    grid-column-start: 4;
    grid-column-end: 35;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2vh;
}

.own-username {
    background-color: transparent;
    border-radius: 5px;
    grid-row-start: 40;
    grid-row-end: 42;
    margin: 2px;
    grid-column-start: 20;
    grid-column-end: 35;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2vh;
    flex-grow: 1;
    text-align: left;
    flex-grow: 1;
    align-items: center;
    font-size: 30px;
    font-family: game-title-font;
    color: rgb(215, 215, 215);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

canvas {
    background: #010080;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    grid-row-start: 1;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;
}

canvas #controls {
    text-align: center;
    margin-top: 10px;
}

canvas #input, button {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
}
